* {
        padding: 0px;
        margin: 0px;
}

body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        user-select: none;
        touch-action: none;
        user-select: none;
        outline: none;
}

canvas {
        border: 2px solid grey;
}